@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: openSans;
    src: url('../fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: openSans-semibold;
    src: url('../fonts/OpenSans-SemiBold.ttf');
}
@font-face {
    font-family: LilitaOne;
    src: url('../fonts/LilitaOne-Regular.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: openSans, sans-serif;
}
.logo-family {
    font-family: LilitaOne, sans-serif;
}
.color {
    background-color: red;
}
.min-heigth {
    min-height: calc(100vh - 66px);
}
.title-weight {
    font-family: openSans-semibold, sans-serif;
}

@media screen and (max-width: 1100px) {
    .bgd-image {
        background-size: cover;
        animation: none;
    }
}


