@tailwind base;
@tailwind components;
@tailwind utilities;

.heigth-75vh {
    height: 80vh;
}


@media screen and (max-width: 1100px) {
    .bgd-image {
        background-size: cover;
        animation: none;
    }
}


